@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*font-family: "Montserrat", sans-serif;*/

::-webkit-scrollbar {
    display: none; /* Скрыть скроллбар */
}
body {
    font-family: "Montserrat", sans-serif;
}
span {
    font-weight: 600;
    font-size: 50px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}